:root {
  --background-color: #000028;
  --background-color-title: #FF0070;
  --text-color-h1: #DB00FF;
  --text-color-h2: #FF0070;
  --text-color-h3: #000028;
  --text-color-p: #F1B2CE;
  --width-mobile: 355px;
}

@font-face {
  font-weight: 700;
  font-family: IBM Plex Mono;
  src: url("/fonts/IBMPlexMono-Bold.ttf");
}

@font-face {
  font-weight: 400;
  font-family: IBM Plex Mono;
  src: url("/fonts/IBMPlexMono-Regular.ttf");
}

body {
  font-family: IBM Plex Mono;
  font-weight: 400;
  font-size: 18px;
      
  line-height: 1.3em;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

.gero {
  margin: 0 auto;
  max-width: max-content;
  position: relative;
}

button {
  text-decoration: none;
  background: none;
  margin: 0;
  padding: 0;
  border: 0;
}
.section_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--background-color);
}
.flex_container {
  width: 1024px;
  height: 100%;
  box-sizing: border-box;
  
}
  
header {
  width: 100%;
  height: 768px;
  background-image: url("../img/cover-image-dark.svg");
}
.header_container {
  padding: 20px;
  position: relative;
}
  
h1 {
  font-weight: 700;
  font-size: 157px;
  line-height: 0.5em;
  text-shadow: 4px 4px #FF0070;
  color: var(--text-color-h1);
  margin: 0;
  padding: 0;
}





.corner_main {
  width: 25px;
  height: 25px;
}
.corner {
  position: absolute;
  top: 20px;
  right: 20px;
  border-top: 1px solid #FF0070;
  border-right: 1px solid #FF0070;
}
.corner2 {
  position: absolute;
  left: 20px;
  bottom: 20px;
  border-bottom: 1px solid #FF0070;
  border-left: 1px solid #FF0070;
}
  
  
  
  
.NC {
  display: flex;
  justify-content: space-between;
}
.navigation {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-top: 20px;
}

.navigation button {
  border: none;
  background-color: transparent;
  font-size: 18px;
  color: #FF0070;
}
.navigation button:hover {
  cursor: pointer;
  font-size: 18px;
  border: 1px solid #FF0070;
}
.jojo {
  width: 62px;
}
.jeek {
  display: flex;
  align-items: center;
  gap: 10px;
}
.jeek > p {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #FF0070;
}
.jeek-ell{
  display: block;
  height: 9px;
  width: 9px;
  background-color: var(--background-color-title);
  filter: drop-shadow(0px 0px 4px #FF0070);
  border-radius: 50%;
  margin-right: 10px;
}
.drawn-focus {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 273px;
  margin-bottom: 114px;
  width: 759px;
  height: 130px;
  position: relative;
  left: -20px;
    
}    

    
.drawn-text {
  display: flex;
  width: 491px;
  height: 70px;
  position: absolute;
  left: 513px;
  top: 563px;
  background: var(--background-color-title);
}
  
.drawn-text p {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: #000028;
  margin: 0;
}
.square-top {
  border-right: 1px solid #ff0070;
  border-top: 1px solid #ff0070;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 20px;
  left: 976px;
}
  
.square-bottom {
  border-bottom: 1px solid #ff0070;
  border-left: 1px solid #ff0070;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 723px;
  left: 20px;
}
  

.title-2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: #ff0070;
  width: 315px;
  height: 47px;
  padding-left: 20px;

}

  
.secar {
  display: flex;
  gap: 20px;
  width: 1024px;
  height: 508px;
  margin-bottom: 80px;
  box-sizing: border-box;
}
  
.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #f1b2ce;
      
}
  
.c {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: #f1b2ce;
  text-shadow: 2px 2px #ff0070;
  text-decoration: none;
}
  
.hover {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #f1b2ce;
}
  
.focus {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: #f1b2ce;
  border: 1px solid #f1b2ce;
  text-decoration: none;
}

  
.title-name{
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: #000028;
  background: var(--background-color-title);
}

.teri {
  border-right: 1px solid #ff0070;
  border-top: 1px solid #ff0070;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 20px;
  left: 976px;
}

.tedi {
  border-bottom: 1px solid #ff0070;
  border-left: 1px solid #ff0070;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 723px;
  left: 20px;
}

.title-2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: #ff0070;
  margin: 0;
  padding-left: 20px;
  width: 315px;
  height: 47px;
}

.wap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 648px;
}

.section-1 {
  gap: 20px;
  width: 1024px;;
  height: 508px;
  margin-top: 60px;
  margin-bottom: 80px;
}

.ner {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: #000028;
  margin: 0;
  margin-bottom: 10px;
}


.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #f1b2ce;
  
}

.section-2 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0px;
  height: 498px;
  margin-bottom: 80px;
}

.wap-2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  width: 984px;
  height: 431px;
  padding: 0 20px;
}

.name-2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: #000028;
  margin-bottom: 10px;
}

.mell {
  height: 384px
}

.gera {
  height: 361px;
}

.gadgets {
  height: 431px;
}
.section-3 {
  display: flex;
  gap: 20px;
  height: 1015px;
  margin-bottom: 80px;
}

.wap-3 {
  display: flex;
  flex-direction: column;
  width: 649px;
  gap: 20px;
}


.deru {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: #000028;
  margin: 0;
}

.sov {
background-color: #FF0070;

}

.position {
position: absolute;
}

.gallery {
  width: 984px;
  height: 1091px;
  
}
.gallery-image {
  display: inline-block;
  grid-template-areas: 
  'img1 img1 img2'
  'img3 img4 img2'
  'img3 img5 img5';
  gap: 20px;
  margin:60px;
}

.gallery-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.img1 {
 height: 260px; ;
 width: 649px; ;
}


.img2 {
 height: 595px; ;
 width: 315px; ;
}


.img3 {
 height: 768px; ;
 width: 315px; ;
}


.img4 {
 height: 315px; ;
 width: 315px; ;
}


.img5 {
height: 428px; ;
width: 649px; ;
}

.footer {
  height: 768px;
  position: relative;
}

.full {
  position: absolute;
  left: 277px;
}

.c1 {
  width: 1024px;
}

.w-315 {
  width: 315px;
}

.section {
  box-sizing: border-box;

}

.rectangle {
  background: #ff0070;
}

.f-400 {
  font-weight: 400;
}

.moll {
  display: inline-block;
  text-align: center;
}
.sov {
  display: inline-block;
  text-align: center;
}
.gadgets {
  display: inline-block;
  text-align: center;
}
.wap-2 {
  display: flex;
  justify-content: center;
}