.bottom {
    width: 230px;
height: 26px;
top: 20px;
left: 397px;
}
.bottom1 {
    width: 70px;
    height: 26px;
    top: 20px;
    left: 397px;
    border: 1px;
    padding-right:13px;
    padding-left:13px;
}